body{
  background-image: url("svg-cards/simple/felt.jpg");
 background-color: #cccccc;
}
h1{
  position:static;
  text-align: center;
  font-size:50px;
  margin-left: auto;
    margin-right: auto;
    color:#8B0000;
}
h3{
  position:static;
  text-align: center;
  font-size:25px;
  margin-left: auto;
    margin-right: auto;
    color:black;
}
#chipsLeft{
  position: absolute; left: 0%;
  width:200px;
  
}
#chipsRight{
  position: absolute; right: 0%;
  width:200px;
}
#dealerCard{
  position: relative;
  top: 50px;
  left: 250px;
}
#dealerHand{
  position: relative;
height: 500px;
width: 700px;
}
#buuton{
  position: fixed;
  bottom: 700px;
  width:0px;
  height: 0px;
  left: 100px;
}

#deeck{
  position: relative;
  width: 300px;
  top: -73px;
  right: 100px;
}
#deckImg{
  width:250px;
  margin-top: 150px;
  background-image: none;
}
figure{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  top: -300px;
}
#dealerCard1{
 position: absolute;
 padding-left: 5px;
 padding-right: 10px;
 height:auto;
 width: 150px;
 
}
#dealerCard2{
  padding-left: 10px;
  padding-right: 10px;
  height:auto;
  width: 150px;
}

#secTwo{
  position: relative;
  top: -100px;
  color: white;
  font-size: 20px;
}

form{
  width: 400px;
}

#placeBetBtn{
  color: #9E003E;
  font-size: 15px;
}

h2{
}

#playerCard{
  position: relative;
  height: 500px;
  width: 600px;
 /* bottom: -600px; */
 float: right;
 top: -500px;
}

img{
  width: 150px;
  
}

#player{
  float: none;
  top: -80px;
  padding-right: 300px;
}

#buttonStay{
  float: none;
  display: block;
  margin-top: -620px;
  margin-left: 1100px;
  margin-right: auto;
  position: relative;
  color:#9E003E;
  font-size: 20px;
}
#buttonAgain{
  float: none;
  display: block;
  margin-left: 800px;
  margin-right: auto;
  position: relative;
  color:#9E003E;
  font-size: 20px;
  bottom: 27px;
}