body{
  background-color:#009E60;
}

h1{
  position:static;
  text-align: center;
  font-size:50px;
  margin-left: auto;
    margin-right: auto;
    color:#9E003E;
}

#chipsLeft{
  position: absolute; left: 0%;
  width:200px;
  
}

#chipsRight{
  position: absolute; right: 0%;
  width:200px;

}


#dealerHand{
position: relative;
margin-bottom: -550px;
}

#deckImg{
  width:250px;
  margin-top: 150px;
  background-image: none;
}

#buttonHit{
  position:relative;
  outline: none;
  top: -450px;
  width: 225px;
  height: 120px;
  background-color: transparent;
  /* border: none; */
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  -webkit-transform: rotate(20deg); 
  transform: rotate(20deg);
  color:#9E003E;
  font-size: 50px;
}

figure{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  top: -300px;
}

#dealerCard1{
 padding-left: 5px;
 padding-right: 10px;
 height:auto;
 width: 150px;
}

#dealerCard2{
  padding-left: 10px;
  padding-right: 10px;
  height:auto;
  width: 150px;
}



h2{
  text-align: center;
  color:#9E003E;
}

#playerCard{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-left: 650px;
  position: relative;
  top:-250px;
}

#player{
  top: 28px;
padding-left: 20px;
}

#imgCardOne{
  padding-left: 5px;
  padding-right: 10px;
  width: 150px;
}

#imgCardTwo{
  padding-left: 10px;
  padding-right: 10px;
  width: 150px;
}

#buttonStay{
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color:#9E003E;
  font-size: 20px;
}